{% extends 'meetups/base/base.html' % }

{% load static %}

{% block title %}All Meetups{% endblock %}
    
{block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/meetups-details.css' %}">
{% endblock %}
    
{% block main_heading %}
We got freat meetups coming up!
{% endblock %} 

{% block header_content %}
<p>Find he one that best suits your needs!</p>
{% endblock %}
    
    <main>
        <section>
            <h2>Upcoming Meetups</h2>
            <ol>
                {% for meetup_item in meetups %}
                <li class="meetup-item">
                    <article>
                        <div class="meetup-summary">
                            <div class="meetup-image">
                                <img src="" alt="">
                            </div>    
                                <div class="meeting-details">
                                    <h3>{{ meetup_item.title }}</h3>
                                     <address>{{ meetup_item.location }}</address>
                                </div>
                        </div>
                        <div class="meetup-actions">
                            <a href="{% url 'meetup-detail' meetup_item.slug %}" class="btn">More Details</a>
                        </div>
                    </article>
                </li>
                
                {% endfor %}
            </ol>
        </section>
    </main>
</body>
</html>